.calculator {
  display: grid;
  grid-template-columns: 4, 1fr;
  gap: 10px;
  width: 400px;
  margin: 20px auto;
  border: 1px solid black;
}

.row {
  grid-column: span 4;
  padding: 20px;
  text-align: right;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
}

.calculator .row button {
  padding: 20px;
  font-size: 18px;
}
.display {
  grid-column: span 4;
  padding: 20px;
  text-align: right;
  font-size: 24px;
  border: 1px solid black;
}
